@page
@model IndexModel
@{
    ViewData["Title"] = "ScootRace";
}

<div class="container mt-4">
    <h1 class="display-4">ScootRace</h1>
    <p>Toto je úvodní stránka vaší aplikace pro závody koloběžek. Zde by měly být zobrazeny informace o závodech, závodnících, koloběžkách a sponzorech.</p>

    <div class="row">
        <div class="col-md-6">
            <h2>Závody</h2>
            <p>Zatím nejsou k dispozici žádné informace o závodech.</p>
        </div>

        <div class="col-md-6">
            <h2>Závodníci</h2>
            <p>Zatím nejsou k dispozici žádné informace o závodnících.</p>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-primary" href="/AddZavod">Přidat Závod</a>
        <a class="btn btn-primary" href="/AddZavodnik">Přidat Závodníka</a>
    </div>
</div>

